<footer class="blog-footer">
  <div class="grid-cell">
    <a class="header-box">
      <span class="header-title">Yang's blog</span>
      <span class="header-subtle">Stay hungry, Stay Foolish!</span>
    </a>
  </div>
  <div class="grid-cell">
    <ul class="social-icons-list">
      <li class="social-icon">
        <a href="https://github.com/BridgeNB">
          <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
        </a>
      </li>
      <li class="social-icon">
        <a href="https://www.linkedin.com/in/elvis-zheng-95270855/">
          <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" />
        </a>
      </li>
      <li class="social-icon">
        <a href="https://www.facebook.com/yangqiao.zheng">
          <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/facebook.svg"/>
        </a>
      </li>
    </ul>
    <div class="footer-blog-copyright">
      <p>© Yangqiao 2017</p>
    </div>
  </div>
</footer>
