<header class="blog-header">
  <div class="grid-cell">
    <a class="header-box">
      <span class="header-title">Yang's blog</span>
      <span class="header-subtle">Stay hungry, Stay Foolish!</span>
    </a>
  </div>
</header>
